@import "../static.less";


.content{
 height: 100%;
 padding: 0;
}

.section-content{
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  margin: 0;
}

.section-header{
  position: relative;
  padding: 2rem 0;
  text-align: center;
}

.row{
  width: 100%;
  margin: 0 auto;
  max-width: 62.5rem;
}

.page-section{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.875rem;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.page-section-divider{
  background-color: #f0f5f9;
  width: 100%;
  height: .5rem;
}

.title{
  text-transform: capitalize;
  font-weight: 600;
  color: @colorType1;
}

.title.light{
  font-weight: 200;
}

.item-cover{
  padding: 0;
}

#topSection{
  height: 82%;
  .jumbotron{
    border-radius: 0;
    padding: 0;
    height: 100%;

    .title{
      margin: 0;
    }

    h1,h2{
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

  }

  .header-poster{
    width: 100%;
    height: 100%;
    background-image: url('/images/picture/main_poster.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
  }
}

#appearanceSection{
  .section-header{
    color: @colorType1;
  }

  .cover-icon{
    text-align: center;
    color: @colorType1;
    .fa{
      font-size: 3rem;
      padding: 2rem;
      border: 2px solid @colorType1;
      border-radius: 4rem;
    }
  }
}

.rank-list{
  background-color: #f0f5f9;
  // background-color: white;
  .swiper-container{
    padding-bottom: 3rem;
  }

  // .swiper-slide{
  //   opacity: .3;
  // }
  //
  // .swiper-slide.swiper-slide-active{
  //   opacity: 1;
  // }

  .swiper-pagination{
    margin-top: 2rem;
  }

  .swiper-pagination-bullet-active{
    background: @colorType1;
  }
}

.image-card{
  .bg{
    width: 100%;
  }

  .middle-title{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;

    .title{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      display: block;
      margin: 0 auto;
      padding: 0 2rem;
      color: white;
    }

    .sub-title{
      font-weight: 300;
      font-size: .8rem;
      display: block;
      text-transform: uppercase;
      color: white;
    }
  }
}

#replySection{
  .user-img{
    width: 110px;
    height: 110px;
    border-radius: 1000px;
    box-shadow: 0 1px 2px rgba(35,61,83,.15);
  }

  .reply-text-cover{
    font-size: 1.1rem;
    // margin-left: 120px;
    margin-bottom: 1.875rem;
    min-height: 110px;
    color: @colorType1;
    text-align: center;
  }

  .author{
    font-size: 1rem;
    margin: .5rem 0;
    font-weight: 300;
    color: @colorType1;
  }

}

#coastSection{
  background-color: #f0f5f9;
  a{
    display: block;
    width: 100%;
    height: 100%;
  }

  .card-cover{
    padding: 15px;
  }

  .btn-card{
    display: block;
    position: relative;
    height: 300px;
  }

  .image-card{
    height: 100%;
  }

  .bg{
    height: 100%;
    box-shadow: 0 1px 2px rgba(35,61,83,.15);
    opacity: .8;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
  }

  .btn-card:hover .bg{
    opacity: 1;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
  }

  .title, .sub-title{
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }

}

@media (max-width: 768px){
  .title{
    font-size: 1.5rem !important;
  }

  .sub-title{
    font-size: 1rem !important;
  }

  .text-content{
    font-size: 0.8rem !important;
  }
}
