<div id="bottomButtons">
  <a href="http://plus.kakao.com/home/@마도로스" class="btn btn-kakaotalk">
    <span class="icon"></span><span class="btn-text">문의하기</span>
  </a>

  <a href="" class="btn btn-reservation">
    <span class="btn-text">예약</span>
  </a>
</div>
