<div class="col-md-12 col-sm-12 col-xs-12" id="footerSection">
  <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-md-8 col-xs-12">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-title">
          COMPANY
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li>대표 조맹섭</li>
            <li>서울시 서초구 반포대로4길 11, 2층</li>
            <li>사업자등록번호 : 489-87-00373</li>
            <li><a href="http://www.ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2016316015930201497&area1=&area2=&currpage=1&searchKey=01&searchVal=%B8%B6%B5%B5%B7%CE%BD%BA&stdate=&enddate=">사업자정보</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-title">
          About Us
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li>통신판매업 제2014-서울 서초-1067호</li>
            <li>개인정보책임자 서강민</li>
            <li><i class="fa fa-send"></i>&nbsp;help@madoross.com</li>
            <li><i class="fa fa-phone"></i>&nbsp;1544-4991</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-title">
          Policy
        </div>
        <div class="panel-body">
          <p>마도로스는 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 마도로스는 상품·거래정보 및 거래에 대하여 책임을 지지 않습니다.<p>
        </div>
      </div>
    </div>
    
  </div>

</div>
