<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
  <div class="mask out" data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".mask"></div>
  <div class="container">
    <div class="navbar-header">
      <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".mask" type="button" class="navbar-toggle pull-left">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MADOROSS</a>
      <button type="button" class="navbar-toggle pull-right">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <div class="navbar-inverse side-collapse in">
      <div class="slide-menu">
        <button data-toggle="collapse-side" data-target=".side-collapse" type="button" class="navbar-toggle pull-right">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <nav role="navigation" class="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#Home">홈</a></li>
            <li><a href="#users">배낚시</a></li>
            <li><a href="#users">좌대낚시</a></li>
            <li><a href="#users">자주묻는 질문</a></li>
            <li class="divider"></li>
            <li><a href="#users">회원가입</a></li>
            <li><a href="#users">로그인</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
