@import "../static.less";

body, html{
  background-color: @colorType7;
  height: 100%;
}

.bg-default{
  background-color: @colorType7;
}

.panel{
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  margin: 0;

  .panel-title{
    color: @colorType1;
  }
}

.content{
  overflow: hidden;
  height: auto;
}


.star-rating{
  .fa{
    color: @starColor;
    text-shadow: 0 1px 1px rgba(255,255,255,.3);
  }
}

#photoWrapper{
  position: relative;
  .bg-product{
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }

  .blur{
    -webkit-filter: blur(10px);
  	filter: blur(10px);
    filter: url(#blur);
  }

  .cover-info{
    height: 60%;
    padding-top: 2rem;
  }

  .title-rows{
    display: table;
    width: 100%;
    padding-right: 0;
    padding-left: 15px;
    div{
      padding: 0;
    }
  }

  .photo-rows{
    display: table;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }



    .product-type-icon{
      background: rgba(34,34,34,.5);
      display: block;
      width: 60px;
      height: 60px;
      padding: 0.5rem;
      img{
        width: 100%;
        height: 100%;
      }
    }

    .product-title{
      margin: 0;
      margin-bottom: 0.5rem;
      font-size: 2rem;
      color: @colorType1;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    }

    .product-subtitle{
      font-size: 1rem;
      color: @colorType1;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    }

    .star-rating{
      .fa-star{
        color: @starColor;
      }
    }

    .favorite-button{
      float: right;
      margin-right: 2rem;
      position: relative;
    }

    .product-subtitle,
    .star-rating{
      display: inline-block;
    }

    .meta-row{
      margin-top: 1rem;
      margin-bottom: 1rem;

      .meta-icons{
        display: inline-block;
        background: rgba(34,34,34,.5);
        color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      .sns-list{
        margin-bottom: 0;
        li a{
          color: white;
          text-shadow: 0 1px 2px rgba(35,61,83,.15);
          font-size: 1.5rem;
        }
      }

    }



    #productSlider{
      padding: 0;
      img{
        width: 100%;
        height: auto;
      }

      .carousel-control{
        background-image: none;
      }
    }

    #sellerProfile{
      position: absolute;
      right: 15px;
      padding: 0;
      z-index: 10;

      .seller-img{
        width: 100%;
        max-width: 200px;
        max-height: 200px;
        border-radius: 80%;
      }

      .seller-name{
        display: block;
        font-size: 1rem;
        padding: 0.5rem;
        color: @colorType4;
      }

      .panel{
        border-radius: 0;
        background-color: white;
        box-shadow: 0 1px 2px rgba(35,61,83,.15);

        margin-bottom: 0;
        border-bottom: 1px solid #f0f5f9;
      }

      .panel-heading{
        color: @colorType1;
        small{
          color: @colorType1;
        }
      }


      #reservePanel{

        .panel-body{
          padding-bottom: 0;
        }

        .panel-footer{
          padding-top: 0;
          border: 0;
        }

        .cust-count-ctrl{
          margin-top: 0.5rem;
        }

        .ctrl-row{
          height: 2.5rem;
          padding: 0;
        }

        .column{
          padding: 0;
          height: 100%;
        }

        .cust-count-ctrl .ctrl-row:nth-child(2){
          border-top: 2px solid;
          border-color: #e6eef5;
        }

        .right{
          border-right: 2px solid;
          border-color: #e6eef5;
        }

        .number-ctrl{
          display: table;
          input,button{
            border: 0;
            background-color: transparent;
            color: @colorType1;
            box-shadow: none;
            text-align: center;
          }

          button:focus,
          button:active{
            outline: none;
          }
          button:active{
            color: #a0afbb;
          }
        }

        .selected-option{
          display: block;
          padding-top: 0.5rem;
          color: @colorType1;
        }

        .price-result{
          background-color: white;

          .price-total{
            border-top: 2px solid #cddeeb;
            padding-top: 1.5rem;
            padding-bottom: 1rem;
            padding-right: 0;
            padding-left: 0;
          }

          .label{
            color: @colorType1;
            font-size: 1.2rem;
            font-weight: 700;
            padding: 0;
          }
        }

        .with-or{
          color: @colorType1;
        }

      }

    }
}

#detailInfoArea{
  background-color: white;
  padding: 0;

  .cover-options{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .cover-options-item{
    text-align: center;

    .item-icon{
      font-size: 2rem;
      color: @colorType1;
      margin-bottom: 0.5rem;
    }

    p.item-label{
      color: @colorType1;
      font-size: 1rem;
    }
  }

  #descriptionArea{
    margin-top: 1rem;

    .panel{
      border-bottom: 1px solid @colorType10;
      margin-bottom: 1.875rem;
    }

    .panel-title{
      font-size: 1.5rem;
    }

    .panel-body{
      color: @colorType9;

      p{
        margin-bottom: 0.5rem;
      }
    }

    .cover-convenient{
      .item-icon,.item-label{
        color: @colorType10;
      }
      .item-label{
        text-decoration: line-through;
      }
    }

    .cover-convenient.active{
      .item-icon{
        color: @colorType4;
      }
      .item-label{
        color: @colorType9;
        text-decoration: none;
      }
    }
  }
}

#productPhotos{
  .photo-item{
    width: 100%;
  }

  .cover-photo
  ,.photo-more{
    padding: 0.2rem;
  }

  .small{
    height: 140px;
    img{
      height: 100%;
    }
  }

  .photo-more{
    a{
      display: table;
      width: 100%;
      height: 100%;
      text-align: center;
      color: white;
      background-color: @colorType10;
      text-decoration: none;
    }

    .more-text{
      display: table-cell;
      vertical-align: middle;
    }
  }

}

#mapContainer{
  margin-top: 1rem;
  width: 100%;
  height: 430px;
}

#addressSection{
  background-color: white;
  .panel-title{
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  .panel-body{
    padding-top: 0;
    padding-bottom: 1.5rem;
  }

  .icon{
    color: @colorType3;
    width: 1rem;
    text-align: center;
  }

  .addr-text{
    color: @colorType9;
  }
}

#reviewSection{
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color: white;
  .user-img{
    width: 100%;
    max-width: 70px;
    border-radius: 100%;
    box-shadow: 0 1px 2px rgba(35,61,83,.15);
  }

  .user-name{
    font-weight: bold;
  }

  .publish-date{
    color: #cddeeb;
  }

  .sep{
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: normal;
  }

  .star-rating{
    display: inline-block;
    margin-left: 1rem;
    color: @starColor;
  }

  .panel-title{
    font-size: 1.5rem;
  }

  .cover-review{
    width: 100%;
    .panel-body{
      padding-top: 0;
      border-bottom: 1px solid #f2f4f7;
    }
  }

  .review-content{
    font-size: 0.8rem;
  }
}

#recommandSection{

  a{
    display: block;
  }

  .cover-recommand-card{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .photo{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid white;
  }

  .cover-left{
    position: absolute;
    top: .5rem;
    left: .5rem;
  }

  .cover-right{
    position: absolute;
    top: 0;
    right: 0;
    // width: 30%;
  }

  .cover-price{
    background-color: @colorType4;
    color: white;

    .price{
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      .value{
        font-size: 1.2rem;
      }

      .period{
        font-size: 0.8rem;
      }
    }

    .price-details{
      font-size: 0.5rem;
      text-align: center;
      padding-bottom: 0.5rem;
    }
  }

  .event{
    background-color: @colorType3;
    color: white;
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
  }

  .cover-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 0.5rem;
  }

  .title,.sub-title{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
    text-shadow: 0 1px 2px rgba(35,61,83,.15);
  }

  .btn-more{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: @colorType4;
    color: white;
  }

  .panel-title{
    font-size: 2rem;
    margin-top: 1rem;
  }

  .panel-body{
    padding: 0;
  }

}

.page-section-divider{
  background-color: #f0f5f9;
  width: 100%;
  height: .5rem;
  display: table;
}


@media (max-width: 768px){


  #photoWrapper{
    margin: 0;
    .product-subtitle,
    .star-rating {
        display: inline-block;
        .count{
          color: @colorType1;
        }
    }

    .cover-info,
    .photo-rows{
      padding-left: 0;
      padding-right: 0;
    }

    .title-rows{
      padding-left: 15px;
      padding-right: 30px;
    }

    #sellerProfile{
      position: relative;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  #productPhotos{
    .cover-photo,
    .photo-more{
      height: 150px;
    }

    .cover-photo{
      img, a{
        height: 100%;
      }
    }
  }

}
