@import "../static.less";

body{
  background-color: #f0f5f9;
}

#productCardList{

}

#searchArea{
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .search-row{
    margin-bottom: 1rem;
  }
  .search-label{
    padding: 0;
    margin-top: 0.5rem;
  }

  .btn-style{
    padding: 0.8rem;
    color: @colorType1;

    a{
      color: @colorType1;
    }
  }

  #btnSearchSubmit{
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: @colorType7;
    border-color: @colorType6;
    color: @colorType1;
    font-size: 1.2rem;
  }

}

#sortArea{
  padding-top: 1rem;
  padding-bottom: 1rem;
  .sort-label{
    margin-top: 0.5rem;
  }
}

.search-label,
.sort-label{
  color: @colorType1;
}
