@import "../static.less";

.panel,.panel-body,.panel-footer{
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.panel{
  margin-bottom: 0;
}

.content-row{
  width: 100%;
  margin: 0 auto;
  max-width: 62.5rem;
}

.panel-heading{
  padding-bottom: 0;

  .title{
    margin-bottom: 0;
  }
}

.panel-cover{
  margin-bottom: 0.9rem;
}

.panel-cover.shadow-box{
  box-shadow: 0 1px 2px rgba(35,61,83,.15);
}

.box-title{
  border-bottom: 2px solid #e6eef5;
  .title{
    padding-bottom: 0.5rem;
  }
}

.add-padding{
  padding: .9375rem;
}

.panel-row{
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;

  .column{
    padding: .46875rem 0;
    min-height: 45px;
    font-size: 0.9rem;
  }

  .left-line{
    border-left: 2px solid #e6eef5;
    padding-left: .46875rem;
    text-align: right;
  }
}

.panel-row.under-line{
  border-bottom: 2px solid #e6eef5;
}


.cover-photo{
  height: 200px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .cover-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    .title,.sub-title{
      color: white;
    }
  }
}

.total-price{
  padding-top: 1.2rem;
  border-top: 2px solid #cddeeb;
  border-bottom: 2px solid #cddeeb;
  .column{
    font-weight: bold;
    font-size: 1.1rem;
  }
  .price{
    text-align: right;
  }
}

.cover-term{
  .panel{
    background-color: white;
    text-align: center;
  }

  .date{
    color: @colorType1;
    font-size: 0.9rem;
    font-weight: 400;
  }
}

#mapPanel{
  padding-left: 0;
  .cover-map{
    overflow: hidden;
    height: 533px;
    box-shadow: 0 1px 2px rgba(35,61,83,.15);
    margin-bottom: .9rem;
  }

  .map-canvas{
    height: 90%;
    padding: 0;
  }

  .map-position{
    height: 10%;
    background-color: white;
    padding: 1rem;
  }
}

@media (max-width: 768px){
  .panel-cover,
  #mapPanel .cover-map{
    margin-bottom: 2px;
  }
}
