<%- include ../include/NAV_TYPE_1.ejs %>
<div class="content">
  <div class="row" id="photoWrapper">
    <div class="col-md-12 col-sm-12 col-xs-12 bg-product blur" style="background-image: url(http://img.madoross.kr/img/e3d3b79007ce11e7bf17fb12557383eb.jpeg?ts=1489397498);"></div>
    <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12 cover-info">

      <div class="title-rows">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-1 col-sm-2 col-xs-2">
            <span class="product-type-icon">
              <img src="/images/ic_sailboat.png"/>
            </span>
          </div>
          <div class="col-md-11 col-sm-10 col-xs-10">
            <h1 class="product-title">마도로스</h1>
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
              <!-- Lisitng location and rating -->
              <div class="product-subtitle col-md-5 col-sm-6 col-xs-12 no-padding">
                <i class="fa fa-map-marker"></i>
                &nbsp;
                <span> 제주특별자치도 서귀포시 (제주)</span>
                &nbsp;
              </div>
              <div class="star-rating col-md-4 col-sm-3 col-xs-6 no-padding">
                <span class="fa fa-star" role="button"></span>
                <span class="fa fa-star" role="button"></span>
                <span class="fa fa-star" role="button"></span>
                <span class="fa fa-star" role="button"></span>
                <span class="fa fa-star" role="button"></span>
                <span class="count">(1)</span>
              </div>
              <div class=" col-md-3 col-sm-3 col-xs-6 no-padding">
                <a href="" class="favorite-button">
                  <span class="icon fa fa-heart-o">
                    <span class="fa fa-heart"></span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 meta-row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="meta-icons">
              <i class="fa fa-group"></i>&nbsp;6&nbsp;
              <i class="fa fa-clock-o"></i>&nbsp;&nbsp;2&nbsp;
              <i class="fa fa-bed"></i>&nbsp;&nbsp;6&nbsp;
            </span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <ul class="list-inline pull-right sns-list">
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>

      </div>



      <div class="photo-rows">
        <div id="productSlider" class="carousel slide col-md-8 col-sm-8 col-xs-12" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="http://img.madoross.kr/img/e3d3b79007ce11e7bf17fb12557383eb.jpeg?ts=1489397498">
            </div>

            <div class="item">
              <img src="http://img.madoross.kr/img/e3d3b79007ce11e7bf17fb12557383eb.jpeg?ts=1489397498">
            </div>

          </div>

        <!-- Left and right controls -->
          <a class="left carousel-control" href="#productSlider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#productSlider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="col-md-4 col-sm-4 hidden-xs" id="sellerProfile">
          <div class="panel seller-panel">
            <div class="panel-heading"><h4>SKIPPER</h4></div>
            <div class="panel-body text-center">
              <img class="seller-img" src="http://img.madoross.kr:80/img/9d35c8c007cc11e7bf17fb12557383eb.jpeg?ts=1491530993"/>
              <span class="seller-name">류재화 선장님</span>
            </div>
          </div>
          <div class="panel" id="reservePanel">
            <div class="panel-heading"><h3>₩70,000<small>/3시간</small></h3></div>
            <div class="panel-body">
              <div class="ms-input-group addon">
                <input type="text" class="form-contorol" placeholder="이용일"/>
                <i class="icon fa fa-calendar"></i>
              </div>
              <div class="form-group">
                <select class="white-style pull-right block">
                  <option value="">이용시간</option>
                  <option value="">1항차 07:00 ~ 10:00</option>
                  <option value="">2항차 11:00 ~ 14:00</option>
                  <option value="">3항차 15:00 ~ 18:00</option>
                </select>
              </div>

              <div class="col-md-12 col-sm-12 no-padding cust-count-ctrl">

                <div class="ctrl-row col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-6 col-sm-6 col-xs-6 column right">
                    <span class="selected-option">대인 40,000원</span>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 column number-ctrl ">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">
                        <i class="fa fa-minus"></i>
                      </button>
                    </span>
                    <input type="hidden" name="big_price" value="70000">
                    <input type="number" name="big_cnt" class="form-control" data-price="70000" readonly="" value="1">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                </div>

                <div class="ctrl-row col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-6 col-sm-6 col-xs-6 column right">
                    <span class="selected-option">소인 40,000원</span>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 column number-ctrl ">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">
                        <i class="fa fa-minus"></i>
                      </button>
                    </span>
                    <input type="hidden" name="big_price" value="70000">
                    <input type="number" name="big_cnt" class="form-control" data-price="70000" readonly="" value="1">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                </div>

              </div>
            </div>
            <div class="panel-footer price-result">
              <div class="col-md-12 col-sm-12 col-xs-12 price-total">
                <span class="label pull-left">총 구매금액</span>
                <span class="label pull-right">₩14,0000원</span>
              </div>

              <button class="btn btn-block btn-type2 btn-lg">예약하기</button>

              <hr class="with-or text-center"/>

              <button class="btn btn-block btn-type1 btn-lg">문의하기</button>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="contentPageArea" class="row">
    <section class="col-md-12 col-sm-12 col-xs-12" id="detailInfoArea">
      <div class="col-md-offset-3 col-md-4 col-sm-offset-1 col-sm-8 col-xs-12 cover-options">
        <div class="col-md-4 col-sm-4 col-xs-4 cover-options-item">
          <i class="item-icon fa fa-group"></i>
          <p class="item-label">정원 22명</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 cover-options-item">
          <i class="item-icon fa fa-clock-o"></i>
          <p class="item-label">2시간</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 cover-options-item">
          <i class="item-icon fa fa-won"></i>
          <p class="item-label">바로예약</p>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 bg-default no-padding">
        <div class="col-md-offset-3 col-md-4 col-sm-offset-1 col-sm-8 col-xs-12" id="descriptionArea">
          <div class="panel">
            <div class="panel-heading"><h2 class="panel-title">마도로스호는?</h2></div>
            <div class="panel-body">
              <p>안녕하세요. 마도로스 입니다.</p>
              <p>인천 연안부두에서 생활 낚시를 즐길 수 있게 정성껏 준비했습니다.</p>
              <p>기본 채비(장갑, 추, 바늘, 오징어 미끼)는 무료로 제공해 드립니다.</p>
              <p>독배로도 이용이 가능합니다. 워크샵이나 행사를 진행하시면 더 많은 혜택을 제공해 드립니다.</p>
              <p>서울에서 1시간도 걸리지 않는 거리라 부담없이 이용하실 수 있습니다.</p>
              <p>*소인 기준은 초등학생 이하 입니다.</p>
            </div>
          </div>

          <div class="panel">
            <div class="panel-heading">
              <h2 class="panel-title">편의시설</h2>
            </div>
            <div class="panel-body">
              <div class="col-md-6 col-sm-6 col-xs-6 cover-convenient active">
                <i class="item-icon fa fa-check"></i>
                <span class="item-label">냉장고</span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6 cover-convenient active">
                <i class="item-icon fa fa-check"></i>
                <span class="item-label">에어컨</span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6 cover-convenient">
                <i class="item-icon fa fa-close"></i>
                <span class="item-label">Wifi</span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 cover-convenient active">
                <i class="item-icon fa fa-check"></i>
                <span class="item-label">냉장고</span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6 cover-convenient active">
                <i class="item-icon fa fa-check"></i>
                <span class="item-label">에어컨</span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6 cover-convenient">
                <i class="item-icon fa fa-close"></i>
                <span class="item-label">Wifi</span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 cover-convenient active">
                <i class="item-icon fa fa-check"></i>
                <span class="item-label">냉장고</span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6 cover-convenient active">
                <i class="item-icon fa fa-check"></i>
                <span class="item-label">에어컨</span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6 cover-convenient">
                <i class="item-icon fa fa-close"></i>
                <span class="item-label">Wifi</span>
              </div>
            </div>
          </div>

          <div class="panel">
            <div class="panel-heading">
              <h2 class="panel-title">유의사항</h2>
            </div>
            <div class="panel-body">
              <p>신분증을 반드시 준비해주세요.</p>
              <p>출항 30분전에는 모이는 장소로 오셔서 승선명부 작성하셔야 합니다.</p>
              <p>안전을 위해서 구명조끼는 꼭 착용해주세요.</p>
              <p>배멀미가 있으니 분은 꼭 멀미약을 준비해주세요.</p>
              <p>물에 젖을 수 있으니 수건, 비옷을 준비하시면 좋습니다.</p>
              <p>현지 사정에 따라 동일한 규모의 배로 이동될 수 있습니다.</p>
              <p>최소 출발 인원에 미달하는 경우 예약이 취소될 수 있습니다.</p>
              <p>현지 기상 사정에 따라 이용할 수 없는 경우, 100% 환불이 진행됩니다.</p>
            </div>
          </div>

          <div class="panel">
            <div class="panel-heading">
              <h2 class="panel-title">취소/환불 규정안내</h2>
            </div>
            <div class="panel-body">
              <p>이용일 3일: 취소 및 환불 가능</p>
              <p>예약일 2일: 이용 날짜 변경 가능</p>
              <p>(날짜 변경은 1회에 한해 가능하며 변경 후엔 취소 불가)</p>
              <p>예약일 1일전, 당일: 취소 및 환불, 이용날짜 변경 불가</p>
            </div>
          </div>

        </div>

        <div class="col-md-offset-3 col-md-4 col-sm-offset-1 col-sm-8 col-xs-12" id="productPhotos">
          <div class="col-md-6 col-sm-6 col-xs-6 cover-photo">
            <img class="photo-item" src="http://img.madoross.kr/img/e3b496d007ce11e7bf17fb12557383eb.jpeg"/>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 cover-photo">
            <img class="photo-item" src="http://img.madoross.kr/img/e3b496d007ce11e7bf17fb12557383eb.jpeg"/>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 cover-photo small">
            <img class="photo-item" src="http://img.madoross.kr/img/e3b496d007ce11e7bf17fb12557383eb.jpeg"/>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 cover-photo small">
            <img class="photo-item" src="http://img.madoross.kr/img/e3b496d007ce11e7bf17fb12557383eb.jpeg"/>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 photo-more small">
            <a href="">
              <span class="more-text">사진더보기 +</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="col-md-12 col-sm-12 col-xs-12 no-padding" id="mapContainer" data-lat="36.43789" data-lon="126.519182"></section>
    <section class="col-md-12 col-sm-12 col-xs-12 no-padding" id="addressSection">
      <div class="col-md-offset-3 col-md-4 col-sm-offset-1 col-sm-8 col-xs-12">
        <div class="panel">
          <div class="panel-heading">
            <h2 class="panel-title">찾아오시는 길</h2>
          </div>
          <div class="panel-body">
            <div><i class="icon fa fa-map-marker"></i><span class="addr-text">&nbsp;방문지 - 인천 중구 항동7가 27-94</span></div>
            <div><i class="icon fa fa-ship"></i><span class="addr-text">&nbsp;출항지 - 인천광역시 중구 항동 7가 59</span></div>
          </div>
        </div>
      </div>
    </section>
    <div class="page-section-divider"></div>
    <section class="col-md-12 col-sm-12 col-xs-12 no-padding" id="reviewSection">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-8 col-xs-12">
        <div class="panel">
          <div class="panel-heading">
            <h2 class="panel-title">REVIEWS
              <div class="star-rating">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <span class="count">(10)</span>
            </h2>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 cover-review">
                <div class="col-md-2 col-sm-2 col-xs-3">
                  <img class="user-img" src="https://res.cloudinary.com/antlos/image/upload/w_60,h_60,c_fill,dpr_1.0,f_auto,fl_lossy,q_50/avatar/case07d9e7izntue3fbd"/>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-9 no-padding">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="cover-title">
                        <span class="user-name">장*남</span><span class="sep">|</span><small class="publish-date">1개월전</small>
                        <div class="star-rating">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 review-content">
                          잼있게 잘다녀왔습니다.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="col-md-12 col-sm-12 col-xs-12 no-padding" id="recommandSection">
      <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
        <div class="panel">
          <div class="panel-heading">
            <h2 class="panel-title">주변 추천상품</h2>
          </div>
          <div class="panel-body">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <a href="">
                <div class="cover-recommand-card" style="background-image: url(http://img.madoross.kr/img/6a847fa0031e11e7bf17fb12557383eb.jpeg?ts=1491543217);">
                  <img class="photo cover-left" src="http://img.madoross.kr:80/img/15f70860034411e7bf17fb12557383eb.jpeg?ts=1491543217"/>
                  <div class="cover-right">
                    <div class="cover-price">
                      <div class="price">
                        <span class="value">₩ 20,000</span>
                        <span class="period">&nbsp;/&nbsp;시간</span>
                      </div>
                      <div class="price-details">주말대인가</div>
                    </div>
                    <div class="event">
                      <span class="text">주중할인상품</span>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 cover-bottom gradient-black-white">
                    <div class="star-rating">
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div class="title">마도로스</div>
                    <div class="sub-title">편한낚시! 즐거운낚시!</div>
                  </div>
                </div>
              </a>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <a href="">
                <div class="cover-recommand-card" style="background-image: url(http://img.madoross.kr:80/img/ab2be5d0034f11e7bf17fb12557383eb.jpeg?ts=1488902636);">
                  <img class="photo cover-left" src="http://img.madoross.kr:80/img/e57e3c30034d11e7bf17fb12557383eb.jpeg?ts=1491546795"/>
                  <div class="cover-right">
                    <div class="cover-price">
                      <div class="price">
                        <span class="value">₩ 20,000</span>
                        <span class="period">&nbsp;/&nbsp;시간</span>
                      </div>
                      <div class="price-details">주말대인가</div>
                    </div>
                    <div class="event">
                      <span class="text">주중할인상품</span>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 cover-bottom gradient-black-white">
                    <div class="star-rating">
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div class="title">남진호</div>
                    <div class="sub-title">도전낚시왕~!</div>
                  </div>
                </div>
              </a>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <a href="">
                <div class="cover-recommand-card" style="background-image: url(http://img.madoross.kr:80/img/72fdaec002df11e7bf17fb12557383eb.jpeg?ts=1488854438);">
                  <img class="photo cover-left" src="http://img.madoross.kr/img/87155b40034511e7bf17fb12557383eb.jpeg?ts=1491546795"/>
                  <div class="cover-right">
                    <div class="cover-price">
                      <div class="price">
                        <span class="value">₩ 20,000</span>
                        <span class="period">&nbsp;/&nbsp;시간</span>
                      </div>
                      <div class="price-details">주말대인가</div>
                    </div>
                    <div class="event">
                      <span class="text">주중할인상품</span>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 cover-bottom gradient-black-white">
                    <div class="star-rating">
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div class="title">마도로스</div>
                    <div class="sub-title">편한낚시! 즐거운낚시!</div>
                  </div>
                </div>
              </a>

            </div>
          </div>

          <div class="col-md-offset-3 col-md-6 col-xs-12 text-center">
            <button class="btn btn-more">주변상품 더보기+</button>
          </div>

        </div>


      </div>

    </section>

    <%- include ../include/FOOTER.ejs %>
</div>

</div>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display:none;">
    <filter id="blur">
        <feGaussianBlur stdDeviation="10" />
    </filter>
</svg>

<%- include ../include/BOTTOM_TYPE2.ejs %>
