<%- include ../include/NAV_TYPE_1.ejs %>
<div class="container content">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12">
      <div class="row hidden-xs" id="searchArea">
        <div class="col-md-12 col-sm-12 search-row">
          <div class="col-sm-3 col-md-3 text-left search-label">
            해역/지역/시간
          </div>
          <div class="col-sm-3 col-md-3">
            <select class="style-default block">
              <option value="">전해역</option>
              <option value="">서해</option>
              <option value="">남해</option>
              <option value="">동해</option>
              <option value="">제주</option>
            </select>
          </div>
          <div class="col-sm-3 col-md-3">
            <select class="style-default block">
              <option value="">전국</option>
              <option value="">경기도</option>
            </select>
          </div>
          <div class="col-sm-3 col-md-3">
            <select class="style-default block">
              <option value="">전체</option>
              <option value="">2시간</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 search-row">
          <div class="col-md-3 col-md-3 text-left search-label">
            상품명검색
          </div>
          <div class="col-md-9 col-md-9">
            <input class="style-default block" type="text" value=""/>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 search-row">
          <div class="col-md-3 col-md-3 text-left search-label">어종</div>
          <div class="col-md-9 col-md-9">
            <span class="style-default btn-style">도다리&nbsp;<a href=""><i class="fa fa-close"></i></a>&nbsp;</span>
            <span class="style-default btn-style">참돔&nbsp;<a href=""><i class="fa fa-close"></i></a>&nbsp;</span>
            <span class="style-default btn-style">부시리&nbsp;<a href=""><i class="fa fa-close"></i></a>&nbsp;</span>
            <span class="style-default btn-style">쭈꾸미&nbsp;<a href=""><i class="fa fa-close"></i></a>&nbsp;</span>
            <span class="style-default btn-style">어종추가&nbsp;<i class="fa fa-plus"></i>&nbsp;<span>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 search-row">
          <div class="col-md-offset-9 col-md-3 col-sm-offset-9 col-sm-3">
            <button type="button" class="btn btn-block" id="btnSearchSubmit"><i class="fa fa-search"></i>&nbsp;검색</button>
          </div>
        </div>
      </div>
      <div class="row" id="sortArea">
        <div class="col-md-9 col-sm-9 text-left sort-label">
          상품목록
        </div>
        <div class="col-md-3 col-sm-3">
          <select class="white-style pull-right block">
            <option value="">인기순</option>
            <option value="">바로예약</option>
            <option value="">높은가격</option>
            <option value="">낮은가격</option>
          </select>
        </div>
      </div>

      <div class="row" id="productCardListArea">
        <div class="col-sm-12 col-md-12 col-xs-12 no-padding">
          <div class="col-sm-4 col-md-4 col-xs-12 item-cover">
            <a class="btn-card" href="">
              <div class="card">
                <div class="card-img-top">
                  <div class="cover-card-img">
                    <div class="card-img"  style="background-image:url(http://img.madoross.kr/img/e3d3b79007ce11e7bf17fb12557383eb.jpeg?ts=1489397498);"></div>
                  </div>
                  <span class="favorite-button left-top">
                    <span class="icon fa fa-heart-o">
                      <span class="fa fa-heart"></span>
                    </span>
                  </span>
                  <div class="cover-price">
              			<div class="price">
              				<span class="currency">w</span>
              				<span class="value">50,000</span>
              				<span class="period">/2시간</span>
              			</div>
              			<div class="price-details">주말대인가</div>
              		</div>
                  <div class="cover-incursive">주중할인 이벤트</div>
                </div>
                <div class="card-profile">
                  <img class="profile-img" src="http://imageprep.mogit.xyz:80/img/e57e3c30034d11e7bf17fb12557383eb.jpeg?ts=1491385062"/>
                </div>
                <div class="card-block">
                  <h4 class="card-title">마도로스:배낚시의 최고봉</h4>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                      <div class="star-rating column">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                      <div class="column count">(4)</div>
                      <div class="column fishes">
                        &nbsp;도다리&middot;우럭&middot;가자미&middot;참돔
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row">
            				<div class="col-sm-6 col-md-6 col-xs-6">
            					<span class="meta-text">
            					  <i class="fa fa-map-marker"></i>&nbsp;서해&middot;경기도&middot;궁평항
            					</span>
            				</div>
            				<div class="col-sm-6 col-md-6 col-xs-6 text-right">
            					<span class="meta-icon">
            						<i class="fa fa-male"></i>&nbsp;6&nbsp;
            					</span>
            					<span class="meta-icon">
            						<i class="fa fa-clock-o"></i>&nbsp;2&nbsp;
            					</span>
            					<span class="meta-icon">
            						<i class="fa fa-bed"></i>&nbsp;6&nbsp;
            					</span>
            				</div>
            			</div>
                </div>

              </div>
            </a>
          </div>

          <div class="col-sm-4 col-md-4 col-xs-12 item-cover">
            <a class="btn-card" href="">
              <div class="card">
                <div class="card-img-top">
                  <div class="cover-card-img">
                    <div class="card-img"  style="background-image:url(http://img.madoross.kr/img/e3d3b79007ce11e7bf17fb12557383eb.jpeg?ts=1489397498);"></div>
                  </div>
                  <span class="favorite-button left-top">
                    <span class="icon fa fa-heart-o">
                      <span class="fa fa-heart"></span>
                    </span>
                  </span>
                  <div class="cover-price">
              			<div class="price">
              				<span class="currency">w</span>
              				<span class="value">50,000</span>
              				<span class="period">/2시간</span>
              			</div>
              			<div class="price-details">주말대인가</div>
              		</div>
                  <div class="cover-incursive">주중할인 이벤트</div>
                </div>
                <div class="card-profile">
                  <img class="profile-img" src="http://imageprep.mogit.xyz:80/img/e57e3c30034d11e7bf17fb12557383eb.jpeg?ts=1491385062"/>
                </div>
                <div class="card-block">
                  <h4 class="card-title">마도로스:배낚시의 최고봉</h4>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                      <div class="star-rating column">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                      <div class="column count">(4)</div>
                      <div class="column fishes">
                        &nbsp;도다리&middot;우럭&middot;가자미&middot;참돔
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row">
            				<div class="col-sm-6 col-md-6 col-xs-6">
            					<span class="meta-text">
            					  <i class="fa fa-map-marker"></i>&nbsp;서해&middot;경기도&middot;궁평항
            					</span>
            				</div>
            				<div class="col-sm-6 col-md-6 col-xs-6 text-right">
            					<span class="meta-icon">
            						<i class="fa fa-male"></i>&nbsp;6&nbsp;
            					</span>
            					<span class="meta-icon">
            						<i class="fa fa-clock-o"></i>&nbsp;2&nbsp;
            					</span>
            					<span class="meta-icon">
            						<i class="fa fa-bed"></i>&nbsp;6&nbsp;
            					</span>
            				</div>
            			</div>
                </div>

              </div>
            </a>
          </div>

          <div class="col-sm-4 col-md-4 col-xs-12 item-cover">
            <a class="btn-card" href="">
              <div class="card">
                <div class="card-img-top">
                  <div class="cover-card-img">
                    <div class="card-img"  style="background-image:url(http://img.madoross.kr/img/e3d3b79007ce11e7bf17fb12557383eb.jpeg?ts=1489397498);"></div>
                  </div>
                  <span class="favorite-button left-top">
                    <span class="icon fa fa-heart-o">
                      <span class="fa fa-heart"></span>
                    </span>
                  </span>
                  <div class="cover-price">
              			<div class="price">
              				<span class="currency">w</span>
              				<span class="value">50,000</span>
              				<span class="period">/2시간</span>
              			</div>
              			<div class="price-details">주말대인가</div>
              		</div>
                  <div class="cover-incursive">주중할인 이벤트</div>
                </div>
                <div class="card-profile">
                  <img class="profile-img" src="http://imageprep.mogit.xyz:80/img/e57e3c30034d11e7bf17fb12557383eb.jpeg?ts=1491385062"/>
                </div>
                <div class="card-block">
                  <h4 class="card-title">마도로스:배낚시의 최고봉</h4>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                      <div class="star-rating column">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                      <div class="column count">(4)</div>
                      <div class="column fishes">
                        &nbsp;도다리&middot;우럭&middot;가자미&middot;참돔
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row">
            				<div class="col-sm-6 col-md-6 col-xs-6">
            					<span class="meta-text">
            					  <i class="fa fa-map-marker"></i>&nbsp;서해&middot;경기도&middot;궁평항
            					</span>
            				</div>
            				<div class="col-sm-6 col-md-6 col-xs-6 text-right">
            					<span class="meta-icon">
            						<i class="fa fa-male"></i>&nbsp;6&nbsp;
            					</span>
            					<span class="meta-icon">
            						<i class="fa fa-clock-o"></i>&nbsp;2&nbsp;
            					</span>
            					<span class="meta-icon">
            						<i class="fa fa-bed"></i>&nbsp;6&nbsp;
            					</span>
            				</div>
            			</div>
                </div>

              </div>
            </a>
          </div>


        </div>


      </div>
    </div>
    <div class="col-sm-4 col-md-4 hidden-xs">

    </div>
  </div>

</div>
