<%- include ../include/NAV_TYPE_1.ejs %>
<div class="container content">
  <div class="content-row">
    <h2 class="page-title">결제가 완료되었습니다</h2>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 mob-no-padding">
        <div class="panel-cover shadow-box">
          <div class="cover-photo" style="background-image: url(http://img.madoross.kr/img/6a847fa0031e11e7bf17fb12557383eb.jpeg?ts=1491543217);">
            <div class="col-md-12 col-sm-12 col-xs-12 cover-bottom gradient-black-white">
              <div class="title">마도로스</div>
              <div class="sub-title">편한낚시! 즐거운낚시!</div>
            </div>
          </div>
          <div class="cover-term">
            <div class="panel">
              <div class="panel-body">
                <div class="panel-row under-line">
                  <div class="col-md-4 col-sm-4 col-xs-4 column text-left">예약상품</div>
                  <div class="col-md-8 col-sm-8 col-xs-8 column left-line">마도로스호</div>
                </div>
                <div class="panel-row under-line">
                  <div class="col-md-4 col-sm-4 col-xs-4 column text-left">상품구분</div>
                  <div class="col-md-8 col-sm-8 col-xs-8 column left-line">배낚시</div>
                </div>
                <div class="panel-row under-line">
                  <div class="col-md-4 col-sm-4 col-xs-4 column text-left">이용일</div>
                  <div class="col-md-8 col-sm-8 col-xs-8 column left-line">2017년 3월 19일</div>
                </div>
                <div class="panel-row under-line">
                  <div class="col-md-4 col-sm-4 col-xs-4 column text-left">출항시</div>
                  <div class="col-md-8 col-sm-8 col-xs-8 column left-line">13시 00분</div>
                </div>
                <div class="panel-row">
                  <div class="col-md-4 col-sm-4 col-xs-4 column text-left">회항시</div>
                  <div class="col-md-8 col-sm-8 col-xs-8 column left-line">18시 00분</div>
                </div>

                <div class="panel-row total-price">
                  <div class="col-md-5 col-sm-5 col-xs-5 column text-left">총 금액</div>
                  <div class="col-md-7 col-sm-7 col-xs-7 column price">₩50,000원</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-8 col-sm-8 col-xs-12 mob-no-padding" id="mapPanel">
        <div class="cover-map">
          <div class="map-canvas" data-lat="36.43789" data-lon="126.519182" id="mapContainer"></div>
          <div class="map-position">
            <i class="icon fa fa-map-marker"></i><span class="addr-text">&nbsp;방문지 - 인천 중구 항동7가 27-94</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 mob-no-padding">
        <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:white;">
          <div class="col-md-6 col-sm-6 col-xs-12 text-left">
            <h4 class="sub-title">유의사항</h4>
            <p>-신분증을 반드시 준비해주세요.</p>
            <p>-출항 30분전에는 모이는 장소로 오셔서 승선명부를 작성하셔야 합니다.</p>
            <p>-안전을 위해서 구명조끼는 꼭 착용해주세요.</p>
            <p>-배멀미가 있으신 분은 꼭 멀미약을 준비해주세요.</p>
            <p>-물에 젖을 수 있으니 수건, 비옷을 준비하시면 좋습니다.</p>
            <p>-현지 사정에 따라 동일한 규모의 배로 이동될 수 있습니다.</p>
            <p>-최소 출발 인원에 미달하는 경우 예약이 취소될 수 있습니다.</p>
            <p>-현지 기상 사정에 따라 이용할 수 없는 경우, 100% 환불이 진행됩니다.</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-left">
            <h4 class="sub-title">취소/환불 규정</h4>
            <p>-이용일 3일: 취소 및 환불 가능
            </p><p>-예약일 2일: 이용 날짜 변경 가능</p>
            <p>&nbsp;(날짜 변경은 1회에 한해 가능하며 변경 후엔 취소 불가)</p>
            <p>-예약일 1일전, 당일: 취소 및 환불, 이용날짜 변경 불가</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
