<%- include ../include/NAV_TYPE_1.ejs %>
<div class="container content">
  <section class="page-section" id="topSection">
    <div class="jumbotron">
      <div class="header-poster">
        <div class="section-content">
          <div class="row">
            <header class="col-md-12 col-sm-12 section-header">
              <h1 class="title">book easily and safely<br> directly from the ship!</h1>
              <h2 class="sub-title">
                쉽고 빠르게, 온라인으로 선장님과 직접 예약하세요.
              </h2>
            </header>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section" id="appearanceSection">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <header class="section-header">
          <h3 class="sub-title">쉽고 빠르게, 온라인으로 선장님과 직접 예약하세요.</h3>
        </header>

        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12 cover-icon">
            <i class="fa fa-search"></i>
            <h4 class="sub-title">다양한 바다낚시 검색</h4>
            <p class="text-content">지역별,해역별, 어종별 바다낚시 상품을 검색할수 있습니다.</p>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 cover-icon">
            <i class="fa fa-won"></i>
            <h4 class="sub-title">온라인에서 바로결제</h4>
            <p class="text-content">신용카드 결제, 실시간 계좌이체를 통해 바로결제가 가능합니다</p>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 cover-icon">
            <i class="fa fa-group"></i>
            <h4 class="sub-title">단체고객을 위한 단독예약</h4>
            <p class="text-content">가족, 친구, 워크샵등의 단체고객을 위한 단독예약도 가능합니다</p>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 cover-icon">
            <i class="fa fa-search"></i>
            <h4 class="sub-title">다양한 바다낚시 검색</h4>
            <p class="text-content">지역별,해역별, 어종별 바다낚시 상품을 검색할수 있습니다.</p>
          </div>

        </div>
      </div>
    </section>

    <div class="page-section-divider"></div>
    <section class="page-section rank-list">
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
        <header class="section-header">
          <h3 class="title light">TOP FISHING BOAT</h3>
        </header>
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="item-cover">
                <a class="btn-card" href="">
                  <div class="card">
                    <div class="card-img-top">
                      <div class="cover-card-img">
                        <div class="card-img"  style="background-image:url(http://img.madoross.kr/img/e3d3b79007ce11e7bf17fb12557383eb.jpeg?ts=1489397498);"></div>
                      </div>
                      <span class="favorite-button left-top">
                        <span class="icon fa fa-heart-o">
                          <span class="fa fa-heart"></span>
                        </span>
                      </span>
                      <div class="cover-price">
                  			<div class="price">
                  				<span class="currency">w</span>
                  				<span class="value">50,000</span>
                  				<span class="period">/2시간</span>
                  			</div>
                  			<div class="price-details">주말대인가</div>
                  		</div>
                      <div class="cover-incursive">주중할인 이벤트</div>
                    </div>
                    <div class="card-profile">
                      <img class="profile-img" src="http://imageprep.mogit.xyz:80/img/e57e3c30034d11e7bf17fb12557383eb.jpeg?ts=1491385062"/>
                    </div>
                    <div class="card-block">
                      <h4 class="card-title">마도로스:배낚시의 최고봉</h4>
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                          <div class="star-rating column">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <div class="column count">(4)</div>
                          <div class="column fishes">
                            &nbsp;도다리&middot;우럭&middot;가자미&middot;참돔
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="row">
                				<div class="col-sm-6 col-md-6 col-xs-6">
                					<span class="meta-text">
                					  <i class="fa fa-map-marker"></i>&nbsp;서해&middot;경기도&middot;궁평항
                					</span>
                				</div>
                				<div class="col-sm-6 col-md-6 col-xs-6 text-right">
                					<span class="meta-icon">
                						<i class="fa fa-male"></i>&nbsp;6&nbsp;
                					</span>
                					<span class="meta-icon">
                						<i class="fa fa-clock-o"></i>&nbsp;2&nbsp;
                					</span>
                					<span class="meta-icon">
                						<i class="fa fa-bed"></i>&nbsp;6&nbsp;
                					</span>
                				</div>
                			</div>
                    </div>

                  </div>
                </a>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="item-cover">
                <a class="btn-card" href="">
                  <div class="card">
                    <div class="card-img-top">
                      <div class="cover-card-img">
                        <div class="card-img"  style="background-image:url(http://img.madoross.kr/img/e3d3b79007ce11e7bf17fb12557383eb.jpeg?ts=1489397498);"></div>
                      </div>
                      <span class="favorite-button left-top">
                        <span class="icon fa fa-heart-o">
                          <span class="fa fa-heart"></span>
                        </span>
                      </span>
                      <div class="cover-price">
                  			<div class="price">
                  				<span class="currency">w</span>
                  				<span class="value">50,000</span>
                  				<span class="period">/2시간</span>
                  			</div>
                  			<div class="price-details">주말대인가</div>
                  		</div>
                      <div class="cover-incursive">주중할인 이벤트</div>
                    </div>
                    <div class="card-profile">
                      <img class="profile-img" src="http://imageprep.mogit.xyz:80/img/e57e3c30034d11e7bf17fb12557383eb.jpeg?ts=1491385062"/>
                    </div>
                    <div class="card-block">
                      <h4 class="card-title">마도로스:배낚시의 최고봉</h4>
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                          <div class="star-rating column">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <div class="column count">(4)</div>
                          <div class="column fishes">
                            &nbsp;도다리&middot;우럭&middot;가자미&middot;참돔
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="row">
                				<div class="col-sm-6 col-md-6 col-xs-6">
                					<span class="meta-text">
                					  <i class="fa fa-map-marker"></i>&nbsp;서해&middot;경기도&middot;궁평항
                					</span>
                				</div>
                				<div class="col-sm-6 col-md-6 col-xs-6 text-right">
                					<span class="meta-icon">
                						<i class="fa fa-male"></i>&nbsp;6&nbsp;
                					</span>
                					<span class="meta-icon">
                						<i class="fa fa-clock-o"></i>&nbsp;2&nbsp;
                					</span>
                					<span class="meta-icon">
                						<i class="fa fa-bed"></i>&nbsp;6&nbsp;
                					</span>
                				</div>
                			</div>
                    </div>

                  </div>
                </a>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="item-cover">
                <a class="btn-card" href="">
                  <div class="card">
                    <div class="card-img-top">
                      <div class="cover-card-img">
                        <div class="card-img"  style="background-image:url(http://img.madoross.kr/img/e3d3b79007ce11e7bf17fb12557383eb.jpeg?ts=1489397498);"></div>
                      </div>
                      <span class="favorite-button left-top">
                        <span class="icon fa fa-heart-o">
                          <span class="fa fa-heart"></span>
                        </span>
                      </span>
                      <div class="cover-price">
                  			<div class="price">
                  				<span class="currency">w</span>
                  				<span class="value">50,000</span>
                  				<span class="period">/2시간</span>
                  			</div>
                  			<div class="price-details">주말대인가</div>
                  		</div>
                      <div class="cover-incursive">주중할인 이벤트</div>
                    </div>
                    <div class="card-profile">
                      <img class="profile-img" src="http://imageprep.mogit.xyz:80/img/e57e3c30034d11e7bf17fb12557383eb.jpeg?ts=1491385062"/>
                    </div>
                    <div class="card-block">
                      <h4 class="card-title">마도로스:배낚시의 최고봉</h4>
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                          <div class="star-rating column">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <div class="column count">(4)</div>
                          <div class="column fishes">
                            &nbsp;도다리&middot;우럭&middot;가자미&middot;참돔
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="row">
                				<div class="col-sm-6 col-md-6 col-xs-6">
                					<span class="meta-text">
                					  <i class="fa fa-map-marker"></i>&nbsp;서해&middot;경기도&middot;궁평항
                					</span>
                				</div>
                				<div class="col-sm-6 col-md-6 col-xs-6 text-right">
                					<span class="meta-icon">
                						<i class="fa fa-male"></i>&nbsp;6&nbsp;
                					</span>
                					<span class="meta-icon">
                						<i class="fa fa-clock-o"></i>&nbsp;2&nbsp;
                					</span>
                					<span class="meta-icon">
                						<i class="fa fa-bed"></i>&nbsp;6&nbsp;
                					</span>
                				</div>
                			</div>
                    </div>

                  </div>
                </a>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="item-cover">
                <a class="btn-card" href="">
                  <div class="card">
                    <div class="card-img-top">
                      <div class="cover-card-img">
                        <div class="card-img"  style="background-image:url(http://img.madoross.kr/img/e3d3b79007ce11e7bf17fb12557383eb.jpeg?ts=1489397498);"></div>
                      </div>
                      <span class="favorite-button left-top">
                        <span class="icon fa fa-heart-o">
                          <span class="fa fa-heart"></span>
                        </span>
                      </span>
                      <div class="cover-price">
                  			<div class="price">
                  				<span class="currency">w</span>
                  				<span class="value">50,000</span>
                  				<span class="period">/2시간</span>
                  			</div>
                  			<div class="price-details">주말대인가</div>
                  		</div>
                      <div class="cover-incursive">주중할인 이벤트</div>
                    </div>
                    <div class="card-profile">
                      <img class="profile-img" src="http://imageprep.mogit.xyz:80/img/e57e3c30034d11e7bf17fb12557383eb.jpeg?ts=1491385062"/>
                    </div>
                    <div class="card-block">
                      <h4 class="card-title">마도로스:배낚시의 최고봉</h4>
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                          <div class="star-rating column">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <div class="column count">(4)</div>
                          <div class="column fishes">
                            &nbsp;도다리&middot;우럭&middot;가자미&middot;참돔
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="row">
                				<div class="col-sm-6 col-md-6 col-xs-6">
                					<span class="meta-text">
                					  <i class="fa fa-map-marker"></i>&nbsp;서해&middot;경기도&middot;궁평항
                					</span>
                				</div>
                				<div class="col-sm-6 col-md-6 col-xs-6 text-right">
                					<span class="meta-icon">
                						<i class="fa fa-male"></i>&nbsp;6&nbsp;
                					</span>
                					<span class="meta-icon">
                						<i class="fa fa-clock-o"></i>&nbsp;2&nbsp;
                					</span>
                					<span class="meta-icon">
                						<i class="fa fa-bed"></i>&nbsp;6&nbsp;
                					</span>
                				</div>
                			</div>
                    </div>

                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev">
            <i class="fa fa-chevron-left"></i>
          </div>
          <div class="swiper-button-next">
            <i class="fa fa-chevron-right"></i>
          </div>

        </div>
      </div>
    </section>
    <div class="page-section-divider"></div>

    <section class="page-section" id="replySection">
      <div class="row">
        <header class="section-header">
          <h3 class="title light">BEST REVIEW</h3>
        </header>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-3 col-sm-3 col-xs-12 no-padding text-center">
            <img class="user-img" src="https://res.cloudinary.com/antlos/image/upload/w_110,h_110,c_fill,dpr_1.0,e_trim,f_auto,fl_lossy/site/home/travellers-quote-1-avatar" />
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12 no-padding reply-text-cover">
            <span class="reply-text text-content">"날씨도 최고였고 물고기도 많이 잡아서 즐겁게 낚시했습니다. 바다위에서 먹는 라면은 최고였습니다!"</span>
            <div class="author">김*남 – 2016년 4월</div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-3 col-sm-3 col-xs-12 no-padding text-center">
            <img class="user-img" src="https://res.cloudinary.com/antlos/image/upload/w_110,h_110,c_fill,dpr_1.0,e_trim,f_auto,fl_lossy/site/home/travellers-quote-2-avatar" />
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12 no-padding reply-text-cover">
            <span class="reply-text text-content">"날씨도 최고였고 물고기도 많이 잡아서 즐겁게 낚시했습니다. 바다위에서 먹는 라면은 최고였습니다!"</span>
            <div class="author">김*남 – 2016년 4월</div>
          </div>
        </div>

      </div>
    </section>

    <section class="page-section" id="coastSection">
      <div class="row">
        <header class="section-header">
          <h3 class="title light">COAST</h3>
        </header>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 card-cover">
          <a class="btn-card">
            <div class="image-card">
              <img class="bg" src="http://cfile25.uf.tistory.com/image/03123833516FA3A9089AFD"/>
              <div class="middle-title">
                <img class="icon" src="https://res.cloudinary.com/antlos/image/upload/w_31,c_scale,dpr_1.0,f_auto,fl_lossy/locations/location-marker-red"/>
                <br>
                <span class="title">서해</span>
                <span class="sub-title">최고의 일몰, 다양한 어종의 보고!</span>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 card-cover">
          <a class="btn-card">
            <div class="image-card">
              <img class="bg" src="http://cfile1.uf.tistory.com/image/2760E24B56542CAE29AFCF"/>
              <div class="middle-title">
                <img class="icon" src="https://res.cloudinary.com/antlos/image/upload/w_31,c_scale,dpr_1.0,f_auto,fl_lossy/locations/location-marker-red"/>
                <br>
                <span class="title">동해</span>
                <span class="sub-title">깊고 푸른바다에서의 짜릿한 손맛!</span>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 card-cover">
          <a class="btn-card">
            <div class="image-card">
              <img class="bg" src="http://chulsa.kr/files/attach/images/66/416/976/017/a9f2b71b161cbf67d21d082554754904.jpg"/>
              <div class="middle-title">
                <img class="icon" src="https://res.cloudinary.com/antlos/image/upload/w_31,c_scale,dpr_1.0,f_auto,fl_lossy/locations/location-marker-red"/>
                <br>
                <span class="title">남해</span>
                <span class="sub-title">낚시의 성지, 낚시의 메카!</span>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 card-cover">
          <a class="btn-card">
            <div class="image-card">
              <img class="bg" src="http://cfile30.uf.tistory.com/image/2434D44054379BBB255FFA"/>
              <div class="middle-title">
                <img class="icon" src="https://res.cloudinary.com/antlos/image/upload/w_31,c_scale,dpr_1.0,f_auto,fl_lossy/locations/location-marker-red"/>
                <br>
                <span class="title">제주</span>
                <span class="sub-title">천해의 자연환경과 함께 즐기는 낚시!</span>
              </div>
            </div>
          </a>
        </div>
        <%# <div class="col-md-6 col-sm-6 col-xs-12 card-cover">
          <a class="btn-card" href="">
            <div class="bg" style="background-image: url();"></div>
            <span class="card-label">
              <span class="title">제주</span>
            </span>
          </a>
        </div>%>
      </div>
    </section>
    <%# <div class="page-section-divider"></div>%>


    <%# <section class="page-section" id="replySection">
      <header class="section-header">
        <h3 class="title light">해역별 배낚시</h3>
      </header>
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding" style="max-width: 1440px;">
        <div class="col-md-4 col-sm-4 col-xs-12 card-cover">
          <a class="btn-card">
            <div class="image-card">
              <img class="bg" src="https://res.cloudinary.com/antlos/image/upload/w_400,h_220,b_rgb:000,c_fill,dpr_1.0,fl_lossy,o_70,q_45/site/top-location-bvi"/>
              <div class="middle-title">
                <img class="icon" src="https://res.cloudinary.com/antlos/image/upload/w_31,c_scale,dpr_1.0,f_auto,fl_lossy/locations/location-marker-red"/>
                <br>
                <span class="title">서해</span>
                <span class="sub-title">수도권에서 접근하기 좋은 배낚시의 메카</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>%>

    <%- include ../include/FOOTER.ejs %>
    <%- include ../include/BOTTOM_TYPE1.ejs %>
  </div>
</div>
