@import "static.less";

.hidden-sm{
  display: none;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.column{
  display: inline-block;
}

//**************** Card *************************** //
.item-cover{
  padding: 15px;
}

a.btn-card{
  display: block;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(35,61,83,.15);
}

.card{
  background-color: white;
  border: 1px solid transparent;
  .card-img-top{
    position: relative;
    .cover-card-img{
      overflow: hidden;
      width: 100%;
      height: 250px;
    }
    .card-img{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform .2s ease;
      transform: scale(1);
    }

    .cover-price{
      background-color: white;
      color: @colorType1;
      display: block;
      position: absolute;
      right: 0.5rem;
      bottom: 1rem;
      padding: 0.5rem;

      .price{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.2rem;
      }

      .currency{
        font-weight: 400;
        font-size: 1rem;
        vertical-align: super;
        margin-right: -.4rem;
      }

      .period{
        font-weight: 400;
        font-size: 1rem;
        margin-left: -.2rem;
      }

      .price-details{
        text-align: center;
        line-height: 1;
        font-size: .8em;
      }
    }

    .cover-incursive{
      position: absolute;
      right: 0;
      top: 1rem;
      display: block;
      background-color: @colorType3;
      color: white;
      font-size: 0.8rem;
      line-height: 1;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-right: 1rem;
      padding-left: 1rem;
    }

    .left-top{
      position: absolute;
      left: 1rem;
      top: 1rem;
    }
  }

  .card-profile{
    position: relative;
    height: 0.5rem;
    .profile-img{
      position: absolute;
      left: 1rem;
      top: -2rem;
      width: 3rem;
      border: 2px solid white;
      border-radius: 3rem;
    }
  }


  .card-block{
    padding-left:1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: @colorPrimary;

    .card-title{
      margin-top: 0.5rem;
      margin-bottom: 0.2rem;
    }

    .star-rating .fa{
      color: #ffce15;
      letter-spacing: .2em;
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
    }

    .count{
      color: @colorType2;
    }

    .fishes{
      color: @colorType4;
      font-weight: 800;
    }
  }

  .card-footer{
    color: #9fabb6;
    border-top: 1px solid #cddeeb;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .meta-text{
      font-size: 0.8rem;
      font-weight: 800;
      color: @colorType1;
    }

    .meta-icon{
      display: inline-block;
    }
  }

}

.card:hover{
  border-color: @colorType4;
  transition: border-color .2s ease;

  .card-img{
    transition: transform .2s ease;
    transform: scale(1.05);
  }
}

.favorite-button{

  .fa{
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: 2rem;
  }

  .icon .fa{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    transition: opacity .4s;
  }
}

.favorite-button:hover{
  .icon .fa{
    opacity: 1;
    transition: opacity .4s;
  }
}


.favorite-button.like{
  .icon .fa{
    opacity: 1;
    transition: opacity .4s;
  }
}

.favorite-button.like:hover{
  .icon .fa{
    opacity: 0.3;
    transition: opacity .4s;
  }
}


//**************** Card *************************** //
/****** Style Star Rating Widget *****/
.score{
  display: table;
}


.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 0.2rem;
  font-size: 1rem;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

.rating.readonly > label{
  pointer-events: none;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.rating_label{
  padding-top: 0.2rem;
  padding-left: 0.2rem;
}

@media only screen and (max-width: 780px) {
  .hidden-sm{
    display: block;
  }

  .rating > label:before {
    margin: 0;
  }
}

//**************** StartScore *************************** //



//**************** Swiper *************************** //

.swiper-button-prev,
.swiper-button-next{

  background-image: none;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: .75;
  cursor: pointer;
  font-family: FontAwesome;
  color: #fff;
  text-shadow: 0 0 1px #000;

}


//**************** Swiper *************************** //
