@colorPrimary : #103754;
@colorWhite : white;
@colorTrans : transparent;

@colorLightGray : #ddd;

@colorType1 : #212c5f;
@colorType2 : #c9d0d5;

@colorType3 : #FF4560;
@colorType4 : #00a6a5;
@colorType5 : #a0afbb;
@colorType6 : #b5c1d2;
@colorType7 : #f2f4f7;
@colorType8 : #fcfdff;
@colorType9 : #69869a;
@colorType10 : #cddeeb;
@colorType11 : #7C8B97;

@starColor : #ffce15;
